a2-5831/.DS_Store
.DS_Store
a2-5831/a2-5831/.ipynb_checkpoints/a2-5831-checkpoint.ipynb
a2-5831/a2-5831/.ipynb_checkpoints/movies-checkpoint.csv
a2-5831/a2/.ipynb_checkpoints/a2-5831-checkpoint.ipynb
a2-5831/a2/.virtual_documents/a2-5831.ipynb
a2-5831/a2/.ipynb_checkpoints/movies-checkpoint.csv
