a2-5831/.DS_Store
.DS_Store
a2-5831/a2-5831/.ipynb_checkpoints/a2-5831-checkpoint.ipynb
a2-5831/a2-5831/.ipynb_checkpoints/movies-checkpoint.csv
a2-5831/a2/.ipynb_checkpoints/a2-5831-checkpoint.ipynb
a2-5831/a2/.virtual_documents/a2-5831.ipynb
a2-5831/a2/.ipynb_checkpoints/movies-checkpoint.csv
a2-5831/a2/a2-5831_2026_02_16T10_04_43_659868.zip
.virtual_documents/a3-5831/a3-5831.ipynb
a3-5831/.ipynb_checkpoints/a3-5831-checkpoint.ipynb
.virtual_documents/a4-5831/a4-5831.ipynb
a4-5831/.ipynb_checkpoints/a4-5831-checkpoint.ipynb
.virtual_documents/Final/Untitled.ipynb
Final/.ipynb_checkpoints/Classification-checkpoint.ipynb
Final/.ipynb_checkpoints/foods_health_scores_allergens-checkpoint.csv
